<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sym.mybatis.un_anon.MybatisUnAnonMapper">

    <insert id="add" parameterType="com.sym.mybatis.un_anon.MybatisUnAnonBean"
    useGeneratedKeys="true" keyProperty="id">
        insert into t_springboot value (#{name})
    </insert>

    <select id="select" resultType="com.sym.mybatis.un_anon.MybatisUnAnonBean">
        select * from t_springboot where id=#{id}
    </select>

</mapper>